on:
  push:
    tags:
      - 'v*'
name: Build and push to docker reg
permissions:
  contents: write
env:
  CONTAINER_NAME: ${{ github.event.repository.name }}

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        steps:
        - name: 'Checkout GitHub Action'
          uses: actions/checkout@main

        - name: 'Docker login to Azure container registry'
          uses: azure/docker-login@v2
          with:
            login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
            username: ${{ secrets.REGISTRY_USERNAME }}
            password: ${{ secrets.REGISTRY_PASSWORD }}

        - name: Build image
          uses: docker/build-push-action@v6
          with:
              context: .
              push: false
              tags: |
                  "${{ secrets.REGISTRY_LOGIN_SERVER }}/${{ env.CONTAINER_NAME }}:${{ github.ref_name }}"
                  "${{ secrets.REGISTRY_LOGIN_SERVER }}/${{ env.CONTAINER_NAME }}:latest"
                        
        - name: Run Trivy vulnerability scanner
          uses: aquasecurity/trivy-action@0.29.0
          with:
              image-ref: '${{ secrets.REGISTRY_LOGIN_SERVER }}/${{ env.CONTAINER_NAME }}:${{ github.ref_name }}'
              format: 'table'
              exit-code: '1'
              ignore-unfixed: true
              vuln-type: 'os,library'
              severity: 'CRITICAL,HIGH'

        - name: Build and push
          uses: docker/build-push-action@v6
          with:
              context: .
              push: true
              tags: |
                  "${{ secrets.REGISTRY_LOGIN_SERVER }}/${{ env.CONTAINER_NAME }}:${{ github.ref_name }}"
                  "${{ secrets.REGISTRY_LOGIN_SERVER }}/${{ env.CONTAINER_NAME }}:latest"


